@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.navbar {
  background-color: #6ab04c;
  padding: 10px;
  position: sticky;
  top: 0;
  text-align: center;
  font-family: 'Quicksand',sans-serif;
  margin-bottom: 20px;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.navbar a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  font-weight: bold;
}

.form-contact {
text-align: center;
font-family: 'Quicksand',sans-serif;

}

.input {
  margin-right: 5px;
}